#### Bridge Python - MySQl

### Importing libraries

In [10]:
import pandas as pd
import mysql.connector
from mysql.connector import Error
import sqlalchemy

### Creating a table in MySQL "cadastro"

In [3]:
try:
    con = mysql.connector.connect(host='localhost', database='cadastro', user='root', password='')
    create_sql_table = """CREATE TABLE info (
        id int NOT NULL auto_increment,
        firstname VARCHAR(20) NOT NULL,
        lastname VARCHAR(20) NOT NULL,
        gender enum('M','F'),
        grade int(2) NOT NULL,
        dob date,
        primary key (id)) default charset = utf8; """

    cursor = con.cursor()
    cursor.execute(create_sql_table)
    print("Your table was created successfully!")
except mysql.connector.Error as erro:
    print("Failed to create table: {}".format(erro))
finally:
    if con.is_connected():
        cursor.close()
        con.close()
        print("Connection to MySQL finished!.")

Your table was created successfully!
Connection to MySQL finished!.

### Importing data from the MySQL table "cadastro"

In [ ]:
try:
    con = mysql.connector.connect(host='localhost', database='cadastro', user='root', password='')
    consulta_sql = "select * from "
    cursor = con.cursor()
    cursor.execute(consulta_sql)
    linhas = cursor.fetchall()
    print("Numero total de registros retornados: ", cursor.rowcount)
    for linha in linhas:
        print("Id:", linha[0])
        print("Name:", linha[1])
        print("Birthday:", linha[2])
        print("Gender:", linha[3])
        print("Weight:", linha[4])
        print("Height:", linha[5])
        print("Nationality:", linha[6])
        print("City:", linha[7], "\n")
except Error as e:
    print("Erro ao acessar tabela MySQL", e)
finally:
    if con.is_connected():
        con.close()
        cursor.close()
        print("Conex√£o ao MySQL encerrada")

### Updating the MySQL table

In [8]:
while True:
    fname = str(input("Type your first name: "))
    lname = str(input("Type your last name: "))
    gender = str(input("Type your gender [M/F]: ")).strip().upper()
    grade = int(input("Type your grade [1,2,3]: "))
    dob = str(input("Type your birthday date [y/m/d]: "))

    try:
        con = mysql.connector.connect(host='localhost', database='cadastro', user='root', password='')
        insert_data = f"""INSERT INTO info values (default, '{fname}','{lname}','{gender}','{grade}','{dob}');
        """
        cursor = con.cursor()
        cursor.execute(insert_data)
        con.commit()
        print(cursor.rowcount, "Table updated successfully!")
        cursor.close()

    except Error as erro:
        print("Failed to updade the table: {}".format(erro))

    finally:
        if con.is_connected():
            cursor.close()
            con.close()
            print("Connection to MySQL finished!.")

        cont = str(input("Do you want to add more data? [Y/N]")).upper()
        if cont == 'Y':
            continue
        if cont == 'N':
            break

1 Table updated successfully!
Connection to MySQL finished!.
1 Table updated successfully!
Connection to MySQL finished!.

### Reading the MySQL table into a pandas DF

In [12]:
engine = sqlalchemy.create_engine('mysql+pymysql://root:@localhost:3306/cadastro')

In [14]:
df = pd.read_sql_table("info", engine, columns=['firstname','lastname','gender','grade','dob'])

  firstname  lastname gender  grade        dob
0    Arthur     Uguen      M      3 2003-05-28
1    Katell     Uguen      F      2 1972-12-04
2   Manuela  Crepaldi      F      3 2005-07-12

### Add a .csv file into the MySQL table

In [20]:
df = pd.read_csv("CSV_test.csv", sep=';')
df

  firstname lastname gender  grade         dob
0     Pedro    Silva      M      2  2004-05-13
1     Paulo    Costa      M      1  2005-11-24
2  Cristina  Pereira      F      1  1994-05-14
3       Ana    Costa      F      3  1999-12-15

In [ ]:
df.to_sql(
    name="info",
    con=engine,
    index=False,
    if_exists="append"
)