#### Importing the libraries

In [ ]:
import pandas as pd 
import matplotlib.pyplot as plt
import mysql.connector
from mysql.connector import Error

#### Collecting data from multiple people

In [ ]:
data_dict = {"Name": [], "Age": [], "Gender": []}

n = int(input("how many people do you want to register? "))

c = 0 # The number of times the registration loop will run

while True:
    name = str(input(f"{c}) Name: ")).strip()
    age = int(input(f"{c}) Age: "))
    gender = str(input(f"{c}) Gender: [M/F]")).upper().strip()

    # Adding the inputs on the dictionary 
    data_dict["Name"].append(name)
    data_dict["Age"].append(age)
    data_dict["Gender"].append(gender)

    c += 1

    if c == n:
        break


df = pd.DataFrame(data_dict)

#### Importing data from MySQL using mysql.connector

In [33]:
con = mysql.connector.connect(host='localhost',database='cadastro',user='root',password='')

##### Creating a MySQL database in Python

In [ ]:
try:
    criar_tabela_SQL = """CREATE TABLE tbl_produtos (
        IdProduto int(11) NOT NULL,
        NomeProduto VARCHAR(70) NOT NULL,
        Preco FLOAT NOT NULL,
        Quantidade TINYINT NOT NULL,
        PRIMARY KEY (IdProduto)) """

    cursor = con.cursor()
    cursor.execute(criar_tabela_SQL)
    print("Tabela de Produtos criada com sucesso!")
except mysql.connector.Error as erro:
    print("Falha ao criar tabela de MySQL: {}".format(erro))
finally:
    if con.is_connected():
        cursor.close()
        con.close()
        print("Conex達o ao MySQL finalizada.")

##### Consulting data

In [ ]:
try:
    consulta_sql = "select * from gafanhotos"
    cursor = con.cursor()
    cursor.execute(consulta_sql)
    linhas = cursor.fetchall()
    print("Numero total de registros retornados: ", cursor.rowcount)
    for linha in linhas:
        print("Id:", linha[0])
        print("Name:", linha[1])
        print("Birthday:", linha[2])
        print("Gender:", linha[3])
        print("Weight:", linha[4])
        print("Height:", linha[5])
        print("Nationality:", linha[6])
        print("City:", linha[7], "\n")
except Error as e:
    print("Erro ao acessar tabela MySQL", e)
finally:
    if con.is_connected():
        con.close()
        cursor.close()
        print("Conex達o ao MySQL encerrada")

##### Inserting data

In [34]:
nome = "Mario"

In [35]:
try:
    inserir_dados = f"""INSERT INTO gafanhotos values
    (default, "{nome}", "1975-07-15", "M", "58.84", "1.70", "Portugal", "Manaus")"""
    cursor = con.cursor()
    cursor.execute(inserir_dados)
    con.commit()
    print(cursor.rowcount, "registros inseridos na tabela!")
    cursor.close()
except Error as erro:
    print("Falha ao inserir dados no MySQL: {}".format(erro))
finally:
    if con.is_connected():
        cursor.close()
        con.close()
        print("Conex達o ao MySQL finalizada")

1 registros inseridos na tabela!
Conex達o ao MySQL finalizada

In [ ]:
#Creating a DataFrame from a dict
data = {'Names': ['Arthur', 'Manuela', 'Alexandre'], 'Age': [18, 16, 8]}

#An index can also be created using arrays
df1 = pd.DataFrame(data, index=['first', 'second', 'third'])

#Creating a DataFrame from lists
l1 = ['Jorge', 'Ronaldo', 'Mario', 'Carlos', 'John']
l2 = [23, 53, 26, 63, 75]
l3 = ['100', '80', '90', '89', '56']
#Merge them using zip()
list_tuples = list(zip(l1, l2, l3))

# Converting lists of tuples into pandas DataFrame
df2 = pd.DataFrame(list_tuples, columns=['Name', 'Age', 'Score'])

print(df2.head(6))
print('-='*12)
print(df1.iloc[2])
print('-='*12)
print(df1.loc[df1['Age'] > 50])

In [ ]:
df1 = pd.DataFrame([['a', 1], ['b', 2]],columns=['letter', 'number'])
df2 = pd.DataFrame([['c', 3], ['d', 4]],columns=['letter', 'number'])
df3 = pd.DataFrame([['c', 3, 'cat'], ['d', 4, 'dog']],columns=['letter', 'number', 'animal'])

df3 = pd.concat([df1,df2])
df3.head()