#### Importing the libraries

In [2]:
import pandas as pd 
import matplotlib.pyplot as plt

#### Collecting data from multiple people

In [5]:
data_dict = {"Name": [], "Age": [], "Gender": []}

n = int(input("how many people do you want to register? "))

c = 0 # The number of times the registration loop will run

while True:
    name = str(input(f"{c}) Name: ")).strip()
    age = int(input(f"{c}) Age: "))
    gender = str(input(f"{c}) Gender: [M/F]")).upper().strip()

    # Adding the inputs on the dictionary 
    data_dict["Name"].append(name)
    data_dict["Age"].append(age)
    data_dict["Gender"].append(gender)

    c += 1

    if c == n:
        break


df = pd.DataFrame(data_dict)

In [7]:
df.head(10)

        Name  Age Gender
0     Arthur   18      M
1  Alexandre    8      M
2    Manuela   16      F
3     Katell   49      F
4      Paulo   22      M
5      David   22      M
6       Lara   22      F
7     Raquel   17      F
8    Ricardo   45      M
9     Aimara   45      F